modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SIGNALWIRE_API_TOKEN = "PTbd6bce7da6e0bab1960ee4a260d925be22af2ba817d4fc57"
SIGNALWIRE_PROJECT_ID = "dce9fe57-7237-4a59-9521-1cabbd77fc27"
SIGNALWIRE_SPACE_URL = "demuregram.signalwire.com"
ADMIN_EMAIL = "demuregram@gmail.com"
ADMIN_PASSWORD_HASH = "e2580deb9c870dec8e32a149a828bea7:7f9f3a2395b4abfbac778638c923033ef21a4c809541b1822f8d3a5ada29d594be0b6f7f90d7dd259b870154e070144ef8f3cfdbfd634fb2bbf88da34ab9dd4a"
